.desktop-1,
.desktop-1 * {
  box-sizing: border-box;
}
.desktop-1 {
  background: #ebebd8;
  width: 1440px;
  height: 1234px;
  position: relative;
  overflow: hidden;
}
.rectangle-1 {
  background: #000000;
  width: 1440px;
  height: 77px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.rectangle-5 {
  background: #203029;
  width: 1440px;
  height: 523px;
  position: absolute;
  left: 0px;
  top: 569px;
}
.rectangle-2 {
  background: #e7b10a;
  border-radius: 25px;
  width: 208px;
  height: 46px;
  position: absolute;
  left: 1210px;
  top: 99px;
}
.about-me {
  color: #203029;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 1258px;
  top: 108px;
}
.hello-i-m-yana {
  color: #203029;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 70px;
  font-weight: 400;
  position: absolute;
  left: 130px;
  top: 195px;
}
.i-m-a-student-in-elsys-last-year-i-have-a-passion-for-art-and-love-reading-books-hoping-i-can-get-in-university-in-europe-outside-bulgaria-just-doing-my-best {
  color: #000000;
  text-align: justified;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 124px;
  top: 383px;
  width: 456px;
}
.rectangle-3 {
  background: #30463d;
  width: 661px;
  height: 587px;
  position: absolute;
  left: 708px;
  top: 282px;
}
.technical-skills {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 35px;
  font-weight: 400;
  position: absolute;
  left: 738px;
  top: 297px;
}
.rectangle-4 {
  background: #e7b10a;
  width: 202px;
  height: 284px;
  position: absolute;
  left: 1121px;
  top: 211px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.58);
}
.az {
  width: 200px;
  height: 278.22px;
  position: absolute;
  left: 1136px;
  top: 195px;
  box-shadow: 0px 5px 4px 0px rgba(0, 0, 0, 0.58);
}
.programming-languages {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 738px;
  top: 351px;
}
.my-projects {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 732px;
  top: 699px;
}
.other {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 738px;
  top: 566px;
}
.h-tml-css-java-java-swing-python-c-c-my-sql-sql-databases-bash {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSlab-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 738px;
  top: 395px;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 738px;
  top: 608px;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span2 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: lowercase;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span3 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span4 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: lowercase;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span5 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span6 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span7 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.work-with-arduino-boards-work-with-blender-work-with-plenty-of-art-supplies-and-technique-span8 {
  color: #ebebd8;
  font-family: "JosefinSans-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
}
.rectangle-22 {
  background: #e7b10a;
  border-radius: 25px;
  width: 197px;
  height: 46px;
  position: absolute;
  left: 1151px;
  top: 512px;
}
.rectangle-32 {
  background: #e7b10a;
  border-radius: 25px;
  width: 239px;
  height: 46px;
  position: absolute;
  left: 1109px;
  top: 570px;
}
._05-12-2005 {
  color: #30463d;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -478px);
  top: 523px;
}
.ilievayana-5-gmail-com {
  color: #30463d;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - -403px);
  top: 581px;
}
.github {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 732px;
  top: 741px;
}
.artstation {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 732px;
  top: 796px;
}
.https-www-artstation-com-yliychova {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 781px;
  top: 800px;
}
.https-github-com-grapeqna {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 781px;
  top: 749px;
}
._49-ou-benito-huares-arts {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 256px;
  top: 733px;
}
.education {
  color: #ebebd8;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 601px;
}
._2019-present {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 670px;
}
.star {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 36px;
  top: 671px;
}
._2012-2019 {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 727px;
}
.star2 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 36px;
  top: 728px;
}
.elsys-system-programing {
  color: #ffffff;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 311px;
  top: 680px;
}
.hobies {
  background: #e7b10a;
  width: 632px;
  height: 412px;
  position: absolute;
  left: 36px;
  top: 795px;
}
.hobbies-interests {
  color: #203029;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 61px;
  top: 811px;
}
.music {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 61px;
  top: 881px;
}
.books {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 365px;
  top: 889px;
}
.art {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 61px;
  top: 995px;
}
.games {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 61px;
  top: 1109px;
}
.board {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 365px;
  top: 1109px;
}
.animals {
  width: 60px;
  height: 60px;
  position: absolute;
  left: 365px;
  top: 995px;
}
.listening-to-music {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 892px;
}
.listening-to-music-span {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.listening-to-music-span2 {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.digital-traditional-art {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 995px;
}
.digital-traditional-art-span {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.digital-traditional-art-span2 {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.digital-traditional-art-span3 {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.horror-puzzle-games {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 148px;
  top: 1119px;
}
.horror-puzzle-games-span {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.horror-puzzle-games-span2 {
  color: #203029;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
}
.reading-books {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 452px;
  top: 892px;
}
.love-animals {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 449px;
  top: 995px;
}
.board-games {
  color: #203029;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 449px;
  top: 1119px;
}
.languages {
  color: #ebebd8;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 720px;
  top: 881px;
}
.bulgarian {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 862px;
  top: 947px;
}
.russian {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1194px;
  top: 947px;
}
.spanish {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1040px;
  top: 947px;
}
.english {
  color: #e7b10a;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 720px;
  top: 947px;
}
.fluent {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 737px;
  top: 987px;
}
.a-2 {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 1080px;
  top: 987px;
}
.studying {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 1199px;
  top: 987px;
}
.native {
  color: #ebebd8;
  text-align: left;
  font-family: "JosefinSans-Regular", sans-serif;
  font-size: 25px;
  font-weight: 400;
  position: absolute;
  left: 895px;
  top: 987px;
}
.yana-ilieva {
  color: #203029;
  text-align: left;
  font-family: "Righteous-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 76px;
  top: 84px;
}
.blackstar {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 12px;
  top: 84px;
}
